.advantageList {
  margin-top: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.advantageList__item {
  margin-top: 50px;
  min-height: 227px;
  width: 262px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f3f9f6;
}

.advantageList__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  padding-top: 11px;
}

.advantageList__item p {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  width: 100%;
}

// @include media-breakpoint-down(esm) {
//   .advantageList {
//     justify-content: center;
//   }
// }

@include media-breakpoint-down(md) {
  .advantageList {
    margin-top: 25px;
  }
  .advantageList__item {
    max-width: 167px;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 5px;
    min-height: 199px;
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .advantageList__img {
    height: 98px;
    padding-top: 7px;

    img {
      height: 53px;
    }
  }
}
