.mainWarranty {
  background-color: #f6f6f6;
  margin-top: 60px;
}

.mainWarranty__img {
  position: absolute;
  margin-top: -12px;
}

.mainWarranty__title {
  @include textTitle();
  margin: 0;
  margin-top: 10px;
  &_green {
    color: #0c8543;
  }
}

.mainWarranty__textWrapper {
  min-height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.mainWarranty__text {
  @include textParagraph();
  margin: 0;
  margin-top: 15px;
  padding: 0;
}
