.mainFooter {
  min-height: 106px;
  background-color: #0c8543;
}

.mainFooter__logo {
  height: 106px;
  display: flex;
  align-items: center;
}

.mainFooter__textWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
}

.mainFooter__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

@include media-breakpoint-down(lg) {
  .mainFooter__logo {
    margin-top: 25px;
    justify-content: center;
    height: 50px;
    img {
      height: 50px;
      width: 150px;
    }
  }

  .mainFooter__textWrapper {
    justify-content: center;
  }
  .mainFooter__text {
    margin: 34px 0;
  }

  .mainFooter__textBr {
    display: none;
  }
}
