<% var data={ title: "Siren Group Test" , author: "Pavel Elfimov" }; %>
  <%= _.template(require('./../includes/head.html').default)(data) %>
    <%= _.template(require('./../includes/header.html').default)(data) %>
      <%= _.template(require('./../includes/sections/hero.html').default)(data) %>
        <%= _.template(require('./../includes/sections/articles.html').default)(data) %>
          <%= _.template(require('./../includes/sections/howWeKeep.html').default)(data) %>
            <%= _.template(require('./../includes/sections/warranty.html').default)(data) %>

              <%= _.template(require('./../includes/footer.html').default)(data) %>